@font-face {
    font-family: 'poppins-bold';
    src: url('../style/webfonts/Poppins-Bold.woff2') format('woff2'); /* Update the format if needed */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../style/webfonts/Poppins-Regular.woff2') format('woff2'); /* Update the format if needed */
    font-weight: normal;
    font-style: normal;
}
